
<div class="row">
  <div class="col col-xs-8 text-center">
    <h4 class="edit">Criteria List</h4>
    <div class="well mywell criteriawell">

      <div class="well childwell" ng-repeat="criteria in criterias">
        <div class="row" >
          <div class="col col-xs-4 text-right">
            <p>Criteria Name</p>
          </div>
          <button ng-click="createCriteria()" class="homebutton btn" >Create/Edit</button>
          <button ng-click="generateData(criteria._id)" class="homebutton btn">Generate</button>
          <button ng-click="pushData(criteria._id)" class="homebutton btn">Push to Salesforce</button>


          <div class="col col-xs-4 text-left">
            <p>{{criteria.criteriaName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Object API Name</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.objectApiName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Industry</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.industryType}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Amount From</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.amountFrom | currency}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Amount To</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.amountTo | currency}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Created Date From (Data)</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.dataCreatedDateFrom | date:'medium'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Created Date To (Data)</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.dataCreatedDateTo | date:'medium'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Close Date Range From (Opportunity)</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.opportunityCloseRangeFrom}} days</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Close Date Range To (Opportunity)</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.opportunityCloseRangeTo}} days</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Number of Records</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.numberOfRecords}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-4 text-right">
            <p>Chart Type</p>
          </div>
          <div class="col col-xs-4 text-left">
            <p>{{criteria.chartType}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
