<div class="started row">
  <div class="col col-xs-12">
    <div class="col col-xs-6">
      <!-- <div class="well login"> -->
          <h1>Stage your data for desired Analytics</h1>
        <form name="loginForm" ng-submit="loginForm.$valid" novalidate>
          <label class="label" for="username">Username:</label>

          <input type="text" ng-model="username" name="username" class="formInput" required/>
          <br>
          <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$dirty">
            <div class="text-center" ng-message="required">Username is required</div>
          </div>
          <br>
          <br>
          <label class="label" for="password">Password:</label>

          <input type="password" ng-model="password" name="password" class="formInput" required/>
          <br>
          <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty">
            <div class="text-center" ng-message="required">Password is required</div>
          </div>
          <p class="text-center" ng-show="loginFailed">Username or password incorrect.</p>
          <br>
          <button id="special" ng-click="login()" class="directbutton pull-left homebutton btn" ng-disabled="loginForm.$invalid">Login</button>
          <button id="special" ng-click="registration()" type="button" class="pull-left directbutton homebutton btn">Sign up</button>
        </form>
      <!-- </div> -->

      <!-- <h4>"If statistics are boring you've got the wrong number"</h4>
      <button ng-disabled="loginForm.$invalid" ng-click="createData()" class="homebutton btn">Set criteria</button>
      <h4>Want to know more about us?</h4> -->
    </div>

    <!-- <button class="btn">Our Story</button> -->
  </div>
</div>
